.editor-row {
    display: flex;
    justify-content: center;
}

.editor-col {
    width: 100%;
    margin: 1% 5%;
}

.editor-wrapper {
    overflow: none;
    height: 100%;
}

@font-face {
    font-family: "LinBiolinum";
    src: url('../assets/LinBiolinum_RB.ttf');
}

